@import 'tailwindcss';

@theme {
  /* Spacing */
  --spacing-128: 32rem;
  --spacing-144: 36rem;

  /* Margins */
  --margin-014: 14%;
  --margin-025: 25%;

  /* Width */
  --width-6-10: 60%;

  /* Border radius */
  --radius-4xl: 2rem;

  /* Colors */
  --color-primary: #0085FF;
  --color-primary-active: #0066CC;

  /* Z-index */
  --z-index-1: -1;

  /* Font families */
  --font-family-sans: "Chakra Petch", sans-serif;
  --font-family-light: "Chakra Petch Light";
  --font-family-medium: "Chakra Petch Medium";
  --font-family-semiBold: "Chakra Petch SemiBold";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans), serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


html{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

.welcomeDiv {
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}

@media only screen and (max-width: 640px) {
  .welcomeDiv {
    clip-path: none !important;
  }
}
.fade-in {
  transition: opacity 0.2s linear;
  transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
